<h1>Doctors Directory</h1>

<ul>
<% @doctors.all.each do |doctor| %>
  <li><%= link_to "Doctor: #{doctor.name}", doctor_path(doctor)%>
    <p><%= "Patient Count: #{doctor.patients.count}"%></p>
  </li>
<% end %>
</ul>
